name: INVENTORY
on:
  push:
    branches: [ main ] # Itafanya kazi kila ukipandisha kodi main branch

jobs:
  build:
    name: Build iOS IPA
    runs-on: macos-latest # Hapa ndipo tunaitumia Mac ya GitHub
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Dependencies
        run: flutter pub get

      - name: Build iOS (Obfuscated)
        # Hii ndiyo ile amri unayoitaka
        run: flutter build ios --release --no-codesign --obfuscate --split-debug-info=build/ios/outputs/symbols

      - name: Upload IPA
        uses: actions/upload-artifact@v3
        with:
          name: ios-build
          path: build/ios/iphoneos/*.app
