name: INVENTORY
on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build iOS IPA
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.19.0' # Taja version ili kuepuka migongano

      - name: Install Dependencies
        run: flutter pub get

      - name: Build iOS (Obfuscated)
        # Amri hii inajenga app na kuilinda kodi yako
        run: flutter build ios --release --no-codesign --obfuscate --split-debug-info=build/ios/outputs/symbols

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: ios-build
          path: build/ios/iphoneos/*.app
