name: INVENTORY
on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build iOS IPA
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.19.0'
          cache: true # Hii itaongeza kasi ya kupakua library

      - name: Clean and Get Dependencies
        run: |
          flutter clean
          flutter pub get

      - name: Build iOS (Obfuscated)
        # Inalinda kodi ya inventoryscanner kulingana na vigezo vyako
        run: flutter build ios --release --no-codesign --obfuscate --split-debug-info=build/ios/outputs/symbols

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ios-build
          path: build/ios/iphoneos/*.app
